<dec f='MOS/include/mos/platform/platform.h' l='87' type='vmblock_t'/>
<offset>0</offset>
<use f='MOS/kernel/mm/cow.c' l='48' u='r' c='cow_handle_page_fault'/>
<use f='MOS/kernel/tasks/process.c' l='143' u='w' c='process_attach_mmap'/>
<use f='MOS/kernel/tasks/process.c' l='188' u='m' c='process_handle_fork'/>
<use f='MOS/kernel/tasks/process.c' l='188' u='m' c='process_handle_fork'/>
<use f='MOS/kernel/tasks/process.c' l='188' u='m' c='process_handle_fork'/>
<use f='MOS/kernel/tasks/process.c' l='193' u='w' c='process_handle_fork'/>
<use f='MOS/kernel/tasks/process.c' l='193' u='m' c='process_handle_fork'/>
<use f='MOS/kernel/tasks/process.c' l='193' u='m' c='process_handle_fork'/>
<use f='MOS/kernel/tasks/process.c' l='193' u='m' c='process_handle_fork'/>
<use f='MOS/kernel/tasks/process.c' l='253' u='m' c='process_dump_mmaps'/>
<use f='MOS/kernel/tasks/process.c' l='254' u='m' c='process_dump_mmaps'/>
<use f='MOS/kernel/tasks/process.c' l='257' u='m' c='process_dump_mmaps'/>
<use f='MOS/kernel/tasks/process.c' l='258' u='m' c='process_dump_mmaps'/>
<use f='MOS/kernel/tasks/process.c' l='259' u='m' c='process_dump_mmaps'/>
<use f='MOS/kernel/tasks/process.c' l='260' u='m' c='process_dump_mmaps'/>
<use f='MOS/kernel/tasks/process.c' l='261' u='m' c='process_dump_mmaps'/>
<use f='MOS/kernel/tasks/process.c' l='262' u='m' c='process_dump_mmaps'/>
<use f='MOS/kernel/tasks/process.c' l='263' u='m' c='process_dump_mmaps'/>
