<dec f='MOS/kernel/include/mos/tasks/task_type.h' l='38' type='vmblock_t'/>
<offset>0</offset>
<use f='MOS/kernel/mm/cow.c' l='52' u='r' c='cow_handle_page_fault'/>
<use f='MOS/kernel/tasks/fork.c' l='33' u='m' c='process_handle_fork'/>
<use f='MOS/kernel/tasks/fork.c' l='34' u='m' c='process_handle_fork'/>
<use f='MOS/kernel/tasks/fork.c' l='34' u='m' c='process_handle_fork'/>
<use f='MOS/kernel/tasks/fork.c' l='34' u='m' c='process_handle_fork'/>
<use f='MOS/kernel/tasks/fork.c' l='42' u='m' c='process_handle_fork'/>
<use f='MOS/kernel/tasks/fork.c' l='42' u='m' c='process_handle_fork'/>
<use f='MOS/kernel/tasks/fork.c' l='42' u='m' c='process_handle_fork'/>
<use f='MOS/kernel/tasks/process.c' l='152' u='w' c='process_attach_mmap'/>
<use f='MOS/kernel/tasks/process.c' l='193' u='r' c='process_handle_cleanup'/>
<use f='MOS/kernel/tasks/process.c' l='221' u='m' c='process_dump_mmaps'/>
<use f='MOS/kernel/tasks/process.c' l='222' u='m' c='process_dump_mmaps'/>
<use f='MOS/kernel/tasks/process.c' l='225' u='m' c='process_dump_mmaps'/>
<use f='MOS/kernel/tasks/process.c' l='226' u='m' c='process_dump_mmaps'/>
<use f='MOS/kernel/tasks/process.c' l='227' u='m' c='process_dump_mmaps'/>
<use f='MOS/kernel/tasks/process.c' l='228' u='m' c='process_dump_mmaps'/>
<use f='MOS/kernel/tasks/process.c' l='229' u='m' c='process_dump_mmaps'/>
<use f='MOS/kernel/tasks/process.c' l='230' u='m' c='process_dump_mmaps'/>
<use f='MOS/kernel/tasks/process.c' l='231' u='m' c='process_dump_mmaps'/>
